@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');


.header {
    height: 65px;
    border-bottom: solid 1px white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.lineh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    border-right: solid 1px white;
}
.lineh:hover{
    cursor: pointer;
}

#line1 {
    margin: 0;
    width: 35px;
    height: 1px;
    background-color: white;
    margin-right: 45px;
}

#line2 {
    margin: 7px 0 0 0;
    width: 28px;
    height: 1px;
    background-color: white;
}

#logo {
    width: 160px;
    height: 43px;
    margin-left: 43px;
}

.logoimg {
    width: 100%;
    height: 100%;
}

.nav {
    height: 100%;
    width: 750px;
    margin-left: 57px;
    padding: 20px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.nav_item {
    margin-left: 45px;
}
.nav_item:hover {
    cursor: pointer;
}

#contact_us {
    position: relative;
    width: 144px;
    height: 36px;
    margin-left: 45px;
    border-radius: 25px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_us:hover {
    cursor: pointer;
}

#contact_us::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1.5px;
    right: -1.5px;
    background: linear-gradient(90deg, #6B50B8, #3AC0FF);
    border-radius: 25px;
    z-index: -1;
}

.future {
    background: linear-gradient(90deg, #6B50B8 40.49%, #3AC0FF 93.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: MuseoModerno;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

.first_block {
    display: flex;
    position: relative;
    height: 905px;
}

.engfuture {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-family: MuseoModerno;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    position: absolute;
    top: 283px;
    left: 427px;
    z-index: 3;
}

.divgif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 18%, rgba(0, 0, 0, 0.9) 70%);
    z-index: 2;
}

.zagolovok {
    width: 748px;
    color: #FFF;
    font-family: MuseoModerno;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 283px;
    left: 427px;
}

.block3 {
    position: relative;
    padding: 128px 420px 0 420px;
    background-color: black;
    height: 970px;
    flex-shrink: 0;
}

.block3_zagolovok {
    color: #FFF;
    font-family: MuseoModerno;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 748px;
    margin: 0;
    top: 420px;
    left: 128px;
}

.round_light {
    position: absolute;
    right: 280px;
    top: 128px;
    width: 206px;
    height: 206px;
    flex-shrink: 0;
    background: linear-gradient(139deg, #6B50B8 38.45%, #3FB2F6 96.61%);
    filter: blur(50px);
}

.advantage_wrapper {
    width: 736px;
    margin: 50px 0;
}

.advantage_title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0 8px 0;
}

.advantage_description {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.advantage_separator {
    background: #6B50B8;
    margin: 0;
    width: 56px;
    height: 3px;
    border: none;
}

.lern_button {
    display: flex;
    height: 19px;
    margin-top: 100px;
    width: 300px;
}

.lern_button:hover {
    cursor: pointer;
}

#learn_title {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.block4 {
    background: linear-gradient(88deg, #6B50B8 1.3%, #729CE0 49.49%, #3AC0FF 98.7%);
    padding: 175px 420px;
    display: flex;
}

.text_of_block4 {
    margin-left: 45px;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 423px;
    flex-direction: column;
    height: 397px;
}

.startwork {
    margin-bottom: 18px;
    width: 423px;
    color: #050204;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.5%;
}

.arr_of_block4 {
    margin-left: 7px;
    width: 30px;
}


.button_of_block4 {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 198.666px;
    height: 54px;
    flex-shrink: 0;
    border: none;
    border-radius: 28px;
    background: #050204;
    margin-top: 48px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.button_of_block4:hover {
    cursor: pointer;
}



.the_end {
    color: #FFF;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 119px 420px 72px 420px;
}

.text_end {
    color: #FFF;
}

.vl {
    border-radius: 2px;
    border-left: 1px solid #A971FF;
    width: 1.5px;
    height: 260px;
}

.text_end_group_title {
    color: #A971FF;
    font-family: MuseoModerno;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text_end>p {
    width: 300px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;        
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.84px;
}

.text_end>div>p {
    width: 250px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.84px;
}

.pagebase {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
}

.in {
    color: #A971FF;
    font-family: MuseoModerno;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text_end_group_title {
    margin: 0 0 21px 0;
}

.double {
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: black;
    padding: 0 420px 116px 420px;
}


.footer>p {
    width: 130px;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media(max-width: 1440px) {

    .engfuture{
        top: 283px;
        left: 240px;
    }
    .block3{
        padding: 128px 240px 0 240px; 
    }
    .block4 {
        background: linear-gradient(88deg, #6B50B8 1.3%, #729CE0 49.49%, #3AC0FF 98.7%);
        padding: 175px 240px;
        display: flex;
    }

    .footer{
        padding: 0 240px 116px 240px;
    }

    .the_end{
        padding: 119px 240px 72px 240px;
    }
}
@media(max-width: 1280px) {

    .engfuture{
        top: 283px;
        left: 120px;
    }
    .block3{
        padding: 128px 120px 0 120px; 
    }
    .block4 {
        background: linear-gradient(88deg, #6B50B8 1.3%, #729CE0 49.49%, #3AC0FF 98.7%);
        padding: 175px 120px;
        display: flex;
    }

    .footer{
        padding: 0 120px 116px 120px;
    }

    .the_end{
        padding: 119px 120px 72px 120px;
    }
}

@media(max-width: 414px) {

    .engfuture{
        top: 283px;
        left: 60px;
    }
    .block3{
        padding: 128px 60px 0 60px; 
    }
    .block4 {
        background: linear-gradient(88deg, #6B50B8 1.3%, #729CE0 49.49%, #3AC0FF 98.7%);
        padding: 175px 60px;
        display: flex;
    }

    .footer{
        padding: 0 60px 116px 60px;
    }

    .the_end{
        padding: 119px 60px 72px 60px;
    }

    .header{
        width: 414px;
    }
}